/* CSS Document */
body{
   	font-family:Arial, Helvetica, sans-serif;
	font-size:80%;  /*-- Enables font size scaling in MSIE  --*/
	margin:0;
	padding:10px;
	/*padding:0;*/
	text-align:center;
	background:url(images/bd-bg1.jpg) repeat-x scroll 0 0;
}
form,table,p,h1,h2,h3,h4,h5,h6,ul,li,div,dl{
	margin:0;
	padding:0;
	font-size:100%;
}
li{
	padding:0;
	margin:0;
	list-style:none;
}
a{
	text-decoration:none;
	outline:none;
	color:#1D9EDC;
}
a:hover{
	text-decoration:underline;
}
img{
	border:0;
	vertical-align:middle;
}
#header .logo img
{
	width:200px !important;
}
.clsFloatLeft{
	float:left;
}
.clsFloatRight{
	float:right;
}
/*CLEARFIX*/	
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }

input[type="text"],input[type="password"], textarea, select {
    /*border: 1px solid #CCCCCC;
    color: #4F4B3B;*/
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 #000000;
    color: #4e4e4e;
    padding: 5px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    /*background: none repeat scroll 0 0 #FFFFDD;*/
	    border-color: rgba(237, 29, 137, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(237, 29, 137, 0.8), 0 0 0 #000000;
    outline: 0 none;
}
.clsRed {
    color: #FF0000;
    font: 12px Arial,Helvetica,sans-serif;
}
input[type="submit"], input[type="button"] {
/*	background:#23A1DF;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	height: 27px;
	padding: 0 10px;
	line-height:27px;
	font-weight:bold;
	width: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;*/
	    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E1117D;
    background-image: -moz-linear-gradient(center top , #F52691 0%, #E1117D 100%);
    border-color: #EA1282 #CB1272 #BB0E68;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
	color:#fff;
	font-weight:bold;
	padding:5px;
	border-radius:5px;
}
input[type="submit"]:hover, input[type="button"]:hover {
	/*background:#0475BE;*/
	background-color: #E1117D;
    background-image: -moz-linear-gradient(center top , #F757AA 0%, #E1117D 100%);
    color: #FFFFFF;
}
/*END OF CLEARFIX*/	
/* Side Bar */
/*Credits: Dynamic Drive CSS Library */
.suckerdiv{
padding:20px 20px 0 0;
width:190px;
}
.suckerdiv ul{
margin: 0;
padding: 0;
list-style-type: none;
width: 190px; /* Width of Menu Items */
border-bottom: 1px solid #E3E3E3;
text-align:left;
}
.suckerdiv ul li{
position: relative;
}
/*Sub level menu items */
.suckerdiv ul li ul{
position: absolute;
width: 170px; /*sub menu width*/
top: 0;
visibility: hidden;
}

/* Sub level menu links style */
.suckerdiv ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: black;
text-decoration: none;
background:#F3F3F3;
padding: 7px 5px;
border: 1px solid #E3E3E3;
border-bottom: 0;
color:#000;
}

.suckerdiv ul li a:visited{
color: black;
}

.suckerdiv ul li a:hover{
background-color: #E3E3E3;
}

.suckerdiv .subfolderstyle{
background: url(images/arrow-list.gif) no-repeat center right transparent;
background-color:#F3F3F3;
}

	
/* Holly Hack for IE \*/
* html .suckerdiv ul li { float: left; height: 1%; }
* html .suckerdiv ul li a { height: 1%; }

/* Eof Sidebar */

.clsContainer {
    border: 1px solid #E3E3E3;
    -moz-border-radius: 5px;
-webkit-border-radius:5px;
-khtml-border-radius: 5px;
border-radius: 5px;
    min-width: 1000px;
    padding: 0 0 10px;
}
#header {
    background:url(images/edit_lsit_top_old.png) repeat-x scroll center bottom #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 5px 5px 0 0;
    position: relative;
    width: 100%;
}
#selLeftHeader {
    float: left;
    margin: 0.2em 0 0 3em;
    overflow: hidden;
    width: 40%;
	height:125px;
}
#Head_GT_Timer {
position:absolute;
right:10px;
top:10px;
}
#Head_GT_Timer #google_trans a{
	background: url(images/google_trans.png) no-repeat scroll 0 0 transparent !important;
	height: 16px !important;
	padding: 0 !important;
	width: 16px !important;
}
#header .logo {
    overflow: hidden;
    text-align: left;
}
#header .logo a {
    display: inline-block;
	padding:35px 0 0 0;
}
#selRightHeader {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 50%;
}
#show_date_time {
margin:0 0 0 10px;
}
#mainnav {
    float: right;
    font-size: 1em;
    margin-right: 1em;
    overflow: hidden;
}
#mainnav li {
    float: left;
}
#mainnav li a {
    color: #000000;
    display: block;
    font: bold 1.1em/2em Arial,Helvetica,sans-serif;
    padding: 0.3em 1.5em;
    text-align: left;
    text-decoration: none;
}
#mainnav a:hover {
    /*background: url(images/nav_select.png) no-repeat scroll center bottom transparent;*/
    color: #E1117D;
}
#footer {
    clear: both;
    font-size: 11px;
    margin: 1em 0 0;
    padding: 10px 0;
    width: 100%;
}
#footer p {
    padding: 0 0 10px;
    text-align: center;
}
#wrapper .form_error {
    color: #DF3B1B;
    font-size: 11em;
    font-weight: bold;
}
#main {
    margin-left: 210px;
	padding:20px 0 0 0;
	text-align:left;
}
#wrapper {
    clear: both;
    margin: 0 auto;
    min-height: 420px;
    overflow: hidden;
    width: 95%;
}
#View_Login {
    margin: 0 auto;
    padding: 5em 0 0;
}
.clslog_container {
    border: 1px solid #CDCDCD;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
}
.clslog_container h2 {
    color: #1D9EDC;
    font-size: 20px;
    letter-spacing: 0.01em;
    padding: 8px 0 15px;
    text-align: left;
}
.clslog_form {
    border: 1px solid #CDCDCD;
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin: 0 0 0 10px;
    padding: 10px;
    width: 320px;
}
.clslog_form input[type="text"],input[type="password"] {
	width:150px;
}
.clslog_container p {
    font-size: 11px;
    margin: 0.5em 0;
    overflow: hidden;
    text-align: left;
}
.clslog_form label {
    margin: 0 10px 0 0;
    padding: 3px 0;
    text-align: right;
	width: 40%;
	float:left;
}
.clsLog_Bg {
    background: url(images/ad_login_lock.jpg) no-repeat scroll 0 0 transparent;
    height: 137px;
    width: 150px;
}
button.button1 {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}
button.button1 span {
    background: url(images/button1.png) no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font: bold 12px/30px Arial,Helvetica,sans-serif;
    height: 30px;
    padding: 0 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
button.button1 span span {
    background-position: 100% 0;
    padding: 0 10px 0 0;
}
button.button1:hover span {
    background: url(images/button1.png) no-repeat scroll 0 -30px transparent;
}
button.button1:hover span span {
    background: url(images/button1.png) no-repeat scroll 100% -30px transparent;
}
button.button1:active span {
    background: url(images/button1.png) no-repeat scroll 0 -60px transparent;
}
button.button1:active span span {
    background: url(images/button1.png) no-repeat scroll 100% -60px transparent;
}
#Dashboard {
	overflow: hidden;
	width: 70%;
	text-align:left;
}
#Dashboard h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font: 1.8em Arial,Helvetica,sans-serif;
    letter-spacing: 0.01em;
    padding-bottom: 0.3em;
	font-weight:bold;
	margin:0 0 10px 0;
}
#Dashboard h3 {
	font-weight:bold;
	font-size: 1.3em;
    font-weight: bold;
	margin:0 0 10px 0;
}
.selQuickStatus {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    padding-bottom: 20px;
}
.selQuickStatus {
    padding: 20px;
	margin:0 0 10px 0;
}
.selQuickStatusleft {
    margin-right: 10px;
	width: 66px;
}
.selQuickStatusRight {
    width: 83%;
}
table.table th {
    background:url(images/edit_lsit_top_old.png) repeat-x scroll center bottom #FFFFFF;
    border-top: 1px solid #E3E3E3;
    color: #000000;
    font: bold 1.3em Arial,Helvetica,sans-serif;
    padding: 0.6em 0.8em;
    text-align: left;
}
table.table {
    /*border-bottom: 1px solid #E3E3E3;*/
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 3px solid #E3E3E3;
    font-size: 0.8em;
    width: 100%;
}
.clsUser_Buttons ul li {
    float: left;
    margin: 0 10px 0 0;
}
.clsUser_Buttons {
    height: 27px;
	margin:0 0 10px 0;
}
table.table td {
    /*border-top: 1px solid #E3E3E3;*/
    font: 1.2em Arial,Helvetica,sans-serif !important;
/*    padding: 0.6em 0.8em;*/
	padding:0.6em 1em;
    text-align: left;
}
#paging {
	margin:10px 0 0 0;
	text-align:right;
}
.pagingnav span {
    background-color: #CCCCCC;
    border: 1px solid gray;
    color: #000000;
    font: bold 11px Arial,Helvetica,sans-serif !important;
    margin-left: 3px;
    padding: 3px;
}
.pagingnav .clsActive {
    background-color: #000000;
    color: #FFFFFF;
}
.pagingnav a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.clsTitle h3 {
	font: 1.6em Arial,Helvetica,sans-serif;
	text-align: left;
	padding:0 0.3em;
	margin:0 0 5px 0;
}
.MainTop_Links .clsNav li {
    display: inline;
    float: right;
    height: 25px;
    line-height: 25px;
    margin: 0 0px 0 10px;
}
.MainTop_Links .clsNav li a {
/*    background:#23A1DF;
    color: #FFFFFF;
    display: block;
    padding: 0 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;*/
		    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E1117D;
    background-image: -moz-linear-gradient(center top , #F52691 0%, #E1117D 100%);
    border-color: #EA1282 #CB1272 #BB0E68;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
	color:#fff;
	font-weight:bold;
	padding:5px;
	border-radius:5px;
}
.MainTop_Links .clsNav li a:hover {
    /*background:#0475BE;*/
    text-decoration: none;
	background-color: #E1117D;
    background-image: -moz-linear-gradient(center top , #F757AA 0%, #E1117D 100%);
    color: #FFFFFF;
}
.MainTop_Links .clsNav {
    float: right;
    font-weight: bold;
    width: 50%;
}
.MainTop_Links {
	width:100%;
	margin:0 0 10px 0;
	height: 27px;
}
.MainTop_Links .clsTitle {
	width:48%;
	float:left;
}
.clsName {
    width: 30%;
}
#Add_GateWay .table + .table, #Edit_Gateway .table + .table {
	border:none;
}
ul.amenity_column {
	float: left;
	text-align:left;
	width: 230px;
}
ul.amenity_column li {
	border: 0 none;
	float: left;
	min-height: 0;
	padding: 5px 10px;
	width: 220px;
}
ul.amenity_column li input[type="checkbox"] {
	cursor: pointer;
	display: inline-block;
}
ul.amenity_column li label {
	display: inline;
	float: none;
	font-size: 1.05em;
	margin: 0 10px 0 0;
	text-align: right;
	width: 115px;
}
#photo #galleria_container li {
	background:#FFFFFF;
	border: 1px solid #D1D1D1;
	box-shadow: 3px 3px 4px #FFFFFF;
	float: left;
	margin: 5px 10px;
	padding: 3px;
	position: relative;
	width: 151px;
}
#photo #galleria_container  p label {
	background:#C7EAFE;
	padding: 1px;
	position: absolute;
	padding: 1px 3px;
	width:auto;
	margin:0px;
}
#photo #galleria_container img {
	margin:0px;
}
#photo #galleria_container li:hover p label {
	background:#4BC0FA;
}
#main span #message .percentage_commission  {
background:#FE2E64;
height:16px;
line-height:16px;
padding:5px 10px 5px 25px;
font-weight:bold;
-moz-border-radius: 15px;
-webkit-border-radius:15px;
-khtml-border-radius: 15px;
border-radius: 15px;
}
#main span #message p{
background:#C2E6B9 url(images/succes_icon.png) no-repeat scroll 5px 5px;
height:16px;
line-height:16px;
padding:5px 10px 5px 25px;
font-weight:bold;
-moz-border-radius: 15px;
-webkit-border-radius:15px;
-khtml-border-radius: 15px;
border-radius: 15px;
}
#main span #message2 p {
background:#C2E6B9 url(images/succes_icon.png) no-repeat scroll 5px 5px;
height:16px;
line-height:16px;
padding:5px 10px 5px 25px;
font-weight:bold;
-moz-border-radius: 15px;
-webkit-border-radius:15px;
-khtml-border-radius: 15px;
border-radius: 15px;
}
#main span #message3 p {
background:#C2E6B9 url(images/succes_icon.png) no-repeat scroll 5px 5px;
height:16px;
line-height:16px;
padding:5px 10px 5px 25px;
font-weight:bold;
-moz-border-radius: 15px;
-webkit-border-radius:15px;
-khtml-border-radius: 15px;
border-radius: 15px;
}
#main span #message4 p {
background:#C2E6B9 url(images/succes_icon.png) no-repeat scroll 5px 5px;
height:16px;
line-height:16px;
padding:5px 10px 5px 25px;
font-weight:bold;
-moz-border-radius: 15px;
-webkit-border-radius:15px;
-khtml-border-radius: 15px;
border-radius: 15px;
}
.message .success {
background:#C2E6B9;
border:2px solid #00CC66;
color:#000;
font-weight:bold;
display:block;
text-align:center;
padding:10px;
margin:0 0 10px 0;
-moz-border-radius: 10px;
-webkit-border-radius:10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}
.message .error {
background:#FFCC99;
border:2px solid #FF3300;
color:#000;
font-weight:bold;
display:block;
text-align:center;
padding:10px;
margin:0 0 10px 0;
-moz-border-radius: 10px;
-webkit-border-radius:10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}
sup
{
	color: red;}

.help {
color:red;
}
.joinus_box {
	border: 1px solid #c3c3c3;
padding: 8px 0 8px 7px;
width: 635px;
border-radius: 4px;
}
/*than*/
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background-color: #018FE1;
    background-image: -moz-linear-gradient(center top , #00AEFF 0%, #018FE1 100%);
    border-color: #0195EB #0083C7 #0175B8;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 0;
    padding:0px 30px 0px 13px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
	text-transform:uppercase;
	cursor:pointer;
}

.blue:hover, .blue.hover {
    background-image: -moz-linear-gradient(center top , #33BEFF 0%, #018FE1 100%);
	background-image: -webkit-linear-gradient(top , #33BEFF 0%, #018FE1 100%);
	color: #FFFFFF;
}
.gotomsg {
    padding: 5px 9px;
    text-transform: uppercase;
}
/*.amenitytab {
	width:45% !important;
}*/

.adminerror p {
    color: red;
    margin-left: 140px;
}

.btn.pink {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E1117D;
    background-image: -moz-linear-gradient(center top , #F52691 0%, #E1117D 100%);
    border-color: #EA1282 #CB1272 #BB0E68;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
.btn.pink:hover {
    background-color: #E1117D;
    background-image: -moz-linear-gradient(center top , #F757AA 0%, #E1117D 100%);
    color: #FFFFFF;
    text-decoration: none;
}

.contentwidth {
	width:115px;
}
.contentwidths {
	width:140px;
}

/**/
	  #confirmbox p
      {
      	padding-top: 19px;
      }
      #confirm {
      	     display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -moz-opacity: 0.5;
            opacity: 0.50;
            filter: alpha(opacity=0.5);
        }
  #confirmbox {
    background-color: #FFFFFF;
    border: 9px solid #eaeaea;
    display: none;
    left: 40%;
    padding: 0 0 10px;
    position: fixed;
    width: 20%;
	top:30%;	
}

#confirmclose {
    bottom: 162px;
    color: #000000;
    float: right;
    position: absolute;
    right: -16px;
}
#usertable > div {
    padding: 0 0 10px;
}

#css_user_atleast_user > span {
    color: green;
}

.joinus_box, .error {
    color: red;
	padding-left:10px;
}




.accom_width {
    width: 25%;
}
.accom_width1 {
    width: 55%;
}

/*#percentage span {
    position: absolute;
    top: 294px;
}*/

.view_coupon_bg , .add_coupon_bg{
	    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E1117D;
    background-image: -moz-linear-gradient(center top , #F52691 0%, #E1117D 100%);
    border-color: #EA1282 #CB1272 #BB0E68;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
	color:#fff;
	font-weight:bold;
	padding:5px;
	border-radius:5px;
	float:right;
}

.addcoupon {
    padding: 0 0 5px;
}
.view_coupon_bg:hover , .add_coupon_bg:hover {
	text-decoration:none;
}

.clsCoupon {
	width:150px;
}
.admin_category > ul {
	width: 300px;
}
.admin_category li {
	float: left;
	padding-right: 5px;
	width: 48%;
	white-space: nowrap;
}
