/*.clsTable_View {
border-top:1px solid #efefef;
border-left:1px solid #efefef;
}*/
.clsTable_View th {
background:#efefef;
padding:7px 10px;
}
.clsTable_View td {
border-bottom:1px solid #efefef;
border-right:1px solid #efefef;
padding:7px 10px;
}
#dashboard_page ul#nav {
/*background:url(images/dash_nav.png) repeat-x center top;*/


border-radius:10px;
-webkit-border-top-right-radius: 10px;
border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
/*width: 960px;*/
/*height: 40px;*/
padding:18px 5px 8px 0px;
background-color:#89c374;
margin: 0;
/*border-top: 1px solid #2b92d4; 
border-left: 1px solid #2b92d4;
border-right: 1px solid #2b92d4;*/
}

#dashboard_page ul#nav li {
border-right:1px solid #c9c9c9;
display:inline-table;
line-height:2;
margin-bottom:5px;
margin-left:0px;
/*background:url(images/das_nav_border.png) no-repeat center right;*/
font-size: 19px;
text-align:center;
font-weight: normal;
/*padding:0px 25px;*/
color:white;
}
#dashboard_page ul#nav li a {
/*display:block;*/
/*padding: 0 26px;*/
margin-left:10px;
margin-right:10px;
padding:10px 25px !important;
text-align:center;
color:white;
text-transform: uppercase;
}
#dashboard_page ul
{
	overflow:hidden;
	
}


#dashboard_page ul#nav li:last-child a {
/*padding:0 26px 0 15px;*/
padding:0 9px 0 15px;
}

#dashboard_page ul#nav li a:hover {
text-decoration:none;

/*background:url(images/das_nav_act.png) no-repeat center top;*/
color:white;
}
#dashboard_page #nav a.Search_Active {
/*background:url(images/das_nav_act.png) no-repeat center top;*/
/*color:#434D51;*/
  background-image: url("images/top_shadow.png");
    background-position: center center;
    background-repeat: no-repeat;
   background-size: 100% ;
    line-height:2;
}

#dashboard_page ul.subnav li {
display:inline;
min-height: 22px;
font-size: 16px;
line-height:30px;
}
#dashboard_page ul.subnav li a {
padding:0 27px 0px 0px; /*0 10px*/
color:#BFC2C4;
font-size:20px;
line-height:normal;
float:left;
display:block;
overflow:hidden;
}
#dashboard_page ul.subnav li.active a {
color: #393C3D;
}
#dashboard_page ul.subnav {
background:none repeat scroll 0 0 #FFFFFF;
margin-top:15px;
/*border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;*/
/*width:960px;
height:30px;
/*border-bottom:1px solid #2d93d5;
border-left:1px solid #2d93d5;
border-right:1px solid #2d93d5;*/
/*line-height:30px;*/

}
#dashboard_container {
margin:10px 0 0;
/*width:960px;*/
}
#dashboard_page #dashboard_container #dashboard_left {
/*width: 260px;*/

min-height: 200px;
/*float: left;*/
overflow:hidden;
}

#dashboard_page #dashboard_container #dashboard_main {
/*width:692px;*/

/*float: right;*/

}
#dashboard_container #user_pic {
position: relative;
z-index: 100;
padding:20px 20px;
/*width:100%;*/
text-align: center;
padding-bottom:30px;


}

#dashboard_container #das_user_box h1{
/*font-size:18px;
margin:10px 0;*/
	color: white;
	background-color:#c0c0c0;
	margin:10px 0px;
	margin-top:0px;
	
    font-size: 20px;
    font-weight:normal;
    padding:5px 0px;
    border-radius:5px;
    
text-transform: uppercase;
	 text-align: center;
	 
}
/*#dashboard_container #das_user_box h3 {
font-size:14px;
padding:20px 5px;
background-color:#DBD7C5;
border-radius:8px;
text-align: center;
line-height:0px;
color:white;
margin:20px 10px 0px 10px;
}*/



#dashboard_container #das_user_box a{
	
	
	display:block;
	overflow:hidden;
	font-weight:normal;
	font-size:20px;
	text-align: center;

color:white;


}
#dashboard_container #das_user_box .edit_prof
{
	background-color:#dbd7c5;
	text-align: center;
	color:white;
	margin:20px 10px 0px 10px;
	border-radius:8px;
	padding:10px 0px 10px 0px;
}



#dashboard_container #quick_links li {
padding:0 0 10px 10px;
margin-bottom:8px;
margin-right:5px;
min-height:28px;
}
#dashboard_container #quick_links li:last-child
{
	padding-bottom:10px;
	margin-bottom:0px;
}

#dashboard_container #quick_links .link1
{
	background-image:url(images/link1.png);
	background-repeat:no-repeat;
	background-size:auto;
	background-position:left;
	padding-top:8px;
}
.verifications-list-item
{
	color:#626262 !important;
	font-weight:bold !important;
}
#change_default select
{
	padding:8px 5px !important;
	width:170px !important;
}
#dashboard_container #quick_links .link2
{
	background-image:url(images/link2.png);
	background-repeat:no-repeat;
	background-size:auto;
	background-position:left;
}
#dashboard_container #quick_links li a {

color:#9d9d9d;
font-size:15px;
display:inline-block;
overflow:hidden;
padding-left:40px;

float:left;
}
#View_Policies li:first-child {
border-top:none !important;
padding:0 0 10px 0;
}
#dashboard_container #View_Policies li {
border-top:1px solid #EFEFEF;
font-size:19px;
/*border-bottom:1px solid #EFEFEF;*/
padding:10px 0;
list-style:inside;
list-style-type:disc;
}
#dashboard_container #welcome_msg_box p, #dashboard_container #welcome_msg_box h3 {
padding:0 0 10px 0;
}
#dashboard_container #View_Notification p, #dashboard_container #View_Notification li {
padding:0 0 10px 0; 
font-size:16px;
}
#dashboard_container #View_Notification h3 {
font-size:22px;
background:#F4F4F4;
padding:5px 10px;
margin:0 0 10px 0;
line-height:normal;
}
#dashboard_container #View_Notification h4 {
margin:0 0 10px 0;
font-size:19px;
color:#464646;
}
#upcoming_reservation,#new_review,#leave_review
{
	margin-right:6px !important;
}
#change_default select
{
	margin-top:14px;
}
#currency_type
{
	padding:8px 4px;
}
#payout_method_descriptions ul{
	margin-left:0px !important;
}
#dashboard_container #View_Notification .Notification_Content {
margin:0 10px;
color:#4c4c4c;
}
#payout_info_type
{
	margin-top:7px !important;
}
#dashboard_container #View_Payout p {
padding:0 0 10px 0;
font-size:19px;
line-height:normal;
}
#paypal_payout 
{
	font-size:19px;
	line-height:normal;
}
#payout_method_descriptions
{
	font-size:17px;
	line-height:normal;
}
#dashboard_container #View_Payout #payout_new_initial, #dashboard_container #View_Payout #payout_country_select, #dashboard_container #View_Payout #change_default {
margin:10px 0;
font-size:17px;
line-height:normal;
}
#dashboard_container #View_Transaction p {
padding:0 0 10px 0;
font-size:16px;
}
ul.listings li.listing {
clear: both;
border-top: 1px dashed #d3d3d5;
padding:10px 0;
margin-left:0px;
width:100%;
}
ul.listings li.listing .Chang_To {
float:right;
font-size:19px;
}
ul.listings li.listing .Chang_To a {
padding:6px 10px 1px 10px;
display:inline-block;
width:50px;
color:#fff;
text-transform:uppercase;
text-align:center;
background:#c0c0c0;
box-shadow:0 11px 8px -10px rgb(0, 0, 0);
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
}
ul.listings li.listing .Chang_To a:hover {
text-decoration:none;
background-color:rgb(149,149,149);
}
ul.listings li.listing:first-child {
clear: both;
padding-top: 0;
margin-top: 0;
border: 0; 
}
ul.listings li.listing div.thumbnail {
float: left;
}

ul.listings li.listing div.thumbnail img {
/*width: 100px;*/
border-radius:5px;
/*height: 65px;*/
background: #fff;
padding: 3px;
border: 1px solid #ccc;
box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
width:100px;
height:65px;
}
ul.listings li.listing div.listing-info {
float: left;
/*margin-left: 15px; 
width: 770px;*/
margin-left: 10px; 
/*width: 815px;*/
overflow:hidden;
margin-bottom: 10px;
}
ul.listings li.listing div.listing-info h3 {
margin-bottom: 10px;
font-size:22px;
font-weight:normal;
}
ul.listings li.listing div.listing-info h3 a {
color:rgb(90, 171, 70);
}
.action_button {
background:url(images/link2_bg.png) repeat-x center top;
line-height:30px; /*31px*/
height:25px; /*31px*/
display:block;
border:1px solid #c3c3c3;
font-size:11px;
color:#848484;
white-space:normal;
word-wrap:break-word;
font-weight:bold;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
-khtml-border-radius: 5px;
border-radius: 5px;
text-decoration:none;
float:left;
margin:0 3px 0 0;
overflow: hidden;
}
.action_button:hover {
text-decoration:none;
background:url(images/link2_bg.png) repeat-x center bottom;
}
.action_button:active {
/*background:#2fa9e8;*/
}
.action_button a:hover {
text-decoration:none;
}
div.sort-header span.action_button .display-filter span.icon.none {
display:inline-block;
* float:left;
}
.action_button .icon.edit {
background:url(images/action_icons.png) no-repeat 6px -63px; /*6px -60px*/
}
.action_button .icon.view {
background:url(images/action_icons.png) no-repeat 6px 7px; /*6px 12px*/
}
.action_button .icon.calendar {
background:url(images/action_icons.png) no-repeat 6px -39px; /*6px -37px*/
}
.action_button .icon.inactive {
background:url(images/action_icons.png) no-repeat 6px -114px;
}
.action_button .icon.active {
background:url(images/action_icons.png) no-repeat 6px -89px;
}
.action_button .icon.delete {
background:url(images/action_icons.png) no-repeat 7px -15px; /*7px -12px*/
}
.toggle-filter .action_button .icon.none {
color:#000;
}
.action_button .icon {
display: block;
padding:0 4px 0 23px;
color: #555555; /*#848484*/
text-shadow:none;
text-transform: uppercase;
}
.action_button .icon span.expand {
display: block;
float: right;
cursor: pointer;
height: 25px; /*32px*/
width: 13px;
background:url(images/action_icons.png) no-repeat 4px -134px;
border-left: 1px solid transparent;
margin:0 0px 0 5px; /*0 8px 0 5px*/
* display:none;
}
.action_button .icon.none {
padding-left: 6px;
}
div.sort-header div.toggle-filter {
display: none; 
}
div.sort-header span.action_button .display-filter span.icon.active, div.sort-header span.action_button .display-filter span.icon.inactive {
display: none;
}
div.sort-header span.action_button.active .display-filter span.icon.inactive, div.sort-header span.action_button.active .display-filter span.icon.none {
display: none;
}
div.sort-header span.action_button.active .display-filter span.icon.active {
display: inline-block;
}
div.sort-header span.action_button.inactive .display-filter span.icon.active, div.sort-header span.action_button.inactive .display-filter span.icon.none {
display: none; }
div.sort-header span.action_button.inactive .display-filter span.icon.inactive {
display: inline-block;
}
div.sort-header .action_button {
cursor: pointer;
}
div.sort-header div.toggle-filter div {
background:#f5f5f5;
}
div.sort-header div.toggle-filter div:hover {
background:#f5f5f5;
}
div.sort-header div.toggle-filter div:hover a {
color:#000;
}
div.sort-header span#listings-filter.expand div.toggle-filter {
display: block;
clear:both;
line-height:25px;
border:1px solid #C3C3C3;
position:absolute;
z-index:3;
width:184px;
}
.action_button .icon:hover span.expand {
border-color: #848484;
}
div.sort-header span#listings-filter {
position: absolute;
* width:170px;
}
div.sort-header {
height: 30px;
}
#Mange_Lisiting #listings-container {
margin:10px 0 0 0;
}
#dashboard_container #Dash_Msg_Small p {
padding:0 0 10px 0;
width:100%;
}
#Dash_Share p label {
float:left;
width:150px;
}
#Dash_Share p {
/*padding:0 0 10px 0;*/
padding:5px 10px 10px 0;
line-height:28px;
float:right;
}
#Dash_Share #Shere_Link_Input {

background:#fff;
border:1px solid #d2d2d2;
border-radius:.3em;
-moz-border-radius:.3em;
-webkit-border-radius:.3em;
box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-o-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
width:360px;
margin:0 10px 0 0;
padding:5px 10px;
}
/* Samll Msg - Dashboard page */
#Msg_Inbox_Small .clsMsg_User img {
display: block;
float: left;
/*height: 50px;*/
margin-right: 10px;
width: 100%;
border-radius:8px;
}

#Msg_Inbox_Small .clsMsg_User a {
/*display:block;*/
}
#Msg_Inbox_Small .clsMsg_User p {
display: block;
float: left;
font-size: 11px;
height: 18px;
padding: 11px 0 0 !important;
/*width: 95px;*/
overflow:hidden;
}
#Msg_Inbox_Small .clsMsg_User p a {
font-size: 12px;
height:18px;
}
#Msg_Inbox_Small ul {
border-bottom: 1px solid #E1E0DE;
margin:0 0 10px 0;
}
#Msg_Inbox_Small ul li {
background: none repeat scroll 0 0 #FFFFFF;
/*border-top: 1px solid #E1E0DE;*/
overflow: hidden;
/*padding: 10px 0;*
 * /*width: 664px;*/


}

#Msg_Inbox_Small .clsMsg_User {
/*height: 50px;*/

/*margin: 0 15px 0 0;*/

/*width: 160px;*/
}
#Msg_Inbox_Small .clsMeg_Detail a {
/*height: 18px;
overflow: hidden;
white-space: nowrap;*/
margin:3px 0;
/*width:350px;*/
display:block;
color:#4d4d4d;
font-weight:normal;
font-size:15px;

}
#Msg_Inbox_Small .clsMeg_Detail a:hover
{
	color:rgb(90, 171, 70);
}
#Msg_Inbox_Small .clsMeg_Detail p {
/*height:17px;*/
overflow:hidden;
padding:0px !important;
}

#Msg_Inbox_Small .clsMeg_Detail {
/*height: 50px;*/
/*width: 365px;*/

margin:0 0px 0 0;
/*overflow:hidden;*/
}
#Msg_Inbox_Small .clsMeg_Detail p a {
font-size: 17px;
color:#5FA84C;
}


#Msg_Inbox_Small .clsMeg_Off {
/*width: 110px;*/
}
#Msg_Inbox_Small .clsMeg_Off p {
font-size: 13px;
color:#4d4d4d;
float:left;
text-align:center;

padding: 11px 0 0;
}
#Msg_Inbox_Small li:hover {
background:#F7f6f2;
}
#Msg_Inbox_Small li:last-child
{
	border:none !important;
}
/* End of Samll Msg - Dashboard page */
/* Big Msg - Inbox page */
#Msg_Inbox_Big .clsMsg_User img {
display: block;
/*float: left;*/
/*height: 50px;*/
margin-right: 10px;
border-radius:8px;
border:none;
height:104px;
/*width: 50px;*/
}
#Msg_Inbox_Big .clsMsg_User p {
display: block;
float: left;
font-size: 11px;
height: 33px;
padding: 11px 0 0;
width: 110px;
line-height:18px;
}
#Msg_Inbox_Big .clsMsg_User p a {
font-size: 14px;
}
#Msg_Inbox_Big ul {
border-bottom: 1px solid #E1E0DE;
margin:0 0 10px 0;
height:650px;
overflow:scroll;
}
#Msg_Inbox_Big ul li {
overflow: hidden;
padding: 20px;
padding-bottom:20px;
border-radius:8px;
/*background-image:url("images/car.png");
background-repeat:no-repeat;
background-position:bottom center;*/
}
#Msg_Inbox_Big .list_bot_img
{
background-image:url("images/car.png");
background-repeat:no-repeat;
background-position:bottom center;
}

/*#Msg_Inbox_Big ul li:first-child {
border:none !important;
}*/
#Msg_Inbox_Big .clsMsg_User {
/*height: 50px;*/
margin: 0 15px 0 0;
display:table-row-group;
vertical-align: middle;
/*width: 170px;*/
}
#Msg_Inbox_Big .clsMeg_Detail a {
font-size: 21px;
color:rgb(70,70,70);
font-weight:normal;
/*height: 18px;*/
overflow: hidden;
/*white-space: nowrap;*/
margin:3px 0;
/*width: 380px;*/
}
#Msg_Inbox_Big .clsMeg_Detail a:hover
{
	text-decoration: none;
}

#Msg_Inbox_Big .clsMeg_Detail p {
overflow:hidden;
padding:0px !important;
margin:0px;
}
#Msg_Inbox_Big .clsMeg_Detail {
margin:0 10px 0;
line-height:34px;
}
#Msg_Inbox_Big .clsMeg_Detail p a {
font-size: 22px;
margin:0px;
text-transform: capitalize;
color:#5aab46;
}
#Msg_Inbox_Big .clsMeg_Off {
text-align:right;
}
#Msg_Inbox_Big .clsMeg_Off p {
font-size: 21px;
line-height:18px;
padding-right:0px;
color:#464646;
}
.clsMsg_Del p,.clsMsg_Del span
{
	text-align:right;
	padding-right:0px;
}
#Msg_Inbox_Big li:hover {
background:rgb(247,246,242);
}
#Msg_Inbox_Big .clsMsgDel_Unfil {
background:url(images/star_unfill.png) no-repeat center left;
height:34px;
width:36px;
}
#Msg_Inbox_Big .clsMsgDel_Unfil:hover
{
background:url(images/star_unfill1.png) no-repeat center left;
height:34px;
width:36px;		
}
#Msg_Inbox_Big .clsMeg_Off p:hover
{
	color:#5AAB46;
}
#Msg_Inbox_Big .clsMsgDel_fil {
background:url(images/star_fill.png) no-repeat center left;
height:20px;
width:20px;
}
#Msg_Inbox_Big .clsMsg_Del a {
display:inline-block;
color:#464646;
}
#Msg_Inbox_Big .clsMsg_Del p {
/*line-height:20px;
padding:12px 0 0;*/
font-size:22px;
margin:0px;
}
.clsMsg_Del .clsFloatLeft
{
	line-height:34px;
}
#Msg_Inbox_Big .clsMsg_Del p span + span {
margin:2px 0 0 10px;
}
.msg_del
{
	margin-top:20px;
	margin-bottom:25px;
}
.clsMsg_Del .clsFloatLeft,.clsMeg_Off .clsFloatLeft
{
	line-height:40px;
}
.clsMsgAct {
background:#DCDBD1 !important;
}
/* End Big Msg - Inbox page */
#View_MyReserve .clsTable_View td, #View_Upcome_Trips .clsTable_View td {
vertical-align:top;
line-height:20px;
}
#View_MyReserve .clsTable_View, #View_Upcome_Trips .clsTable_View td {
margin:0 0 10px 0;
}
#dashboard_container .clsTable_View .View_my_Accept_Bg span{
background:#96A63D;
font-size:17px;
text-align:center;
color:#fff;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
padding:3px 5px;
}
.View_MyPrint {
background:url(images/print_icon.png) no-repeat 0 7px;
font-size: 15px;
font-weight: bold;
line-height:35px;
padding: 0 0 0 30px;
margin-right:10px;
float:right;
}
#dashboard_container #View_Notification li
{
	font-size:20px;
}
#View_Currents_Tips #searching p, #ViewPrevious_Trips #searching p, #View_Starred_Items #searching p, #View_Upcome_Trips #searching p, #View_MyReserve .no_listing p {
padding:0 0 10px 0;
font-size:18px;

}
#View_Currents_Tips #searching p button, #ViewPrevious_Trips #searching p button, #View_Starred_Items #searching p button, #View_Upcome_Trips #searching p button, #View_MyReserve .no_listing p button {
margin:-3px 0 0 10px;
}
#View_Currents_Tips #searching p input[type="text"], #ViewPrevious_Trips #searching p input[type="text"], #View_Starred_Items #searching p input[type="text"], #View_Upcome_Trips #searching p input[type="text"], #View_MyReserve .no_listing p input[type="text"] {
background:#fff;
border:1px solid #d2d2d2;
min-height:30px;
border-radius:.3em;
-moz-border-radius:.3em;
-webkit-border-radius:.3em;
box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-o-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
padding:5px 10px;
margin-bottom:20px;

}
#View_Edit_Profile #Edit_Pro_Left {
/*width:250px;*/
}
#View_Edit_Profile #Edit_Pro_Left h2 {
background:rgb(219, 215, 197);
font-size:30px;
padding:10px;
text-align:center;
border-radius:8px;
color:white;
text-transform: capitalize;

}
#View_Edit_Profile #Edit_Pro_Left #user_pic {
padding-top:0px;
margin-left:0px;
}
#View_Edit_Profile #Edit_Pro_Left #user_pic img {
margin:0 0 20px 0;
padding:3px;
-webkit-box-shadow: 0 11px 8px -10px black;
-moz-box-shadow: 0 11px 8px -10px black;
box-shadow: 0 11px 8px -10px black;
}
#dashboard_left #das_user_box #user_pic img {
margin:0 0 5px 0;
/*padding:25px 30px;*/
width:100%;
-webkit-box-shadow: 0 11px 8px -10px black;
-moz-box-shadow: 0 11px 8px -10px black;
box-shadow: 0 11px 8px -10px black;
border-radius:15px;
}
#dashboard_left #das_user_box #user_pic img:hover {
opacity:.9;
-ms-filter:"alpha(opacity=90)";
filter:alpha(opacity=90)
}
#View_Edit_Profile #Edit_Pro_Right {
/*width:665px;*/
padding:0 0 0 10px;
border-left:1px solid #EFEFEF;
margin:15px 0px 10px 0px;
}
#View_Edit_Profile #Edit_Pro_Left p {
padding:0 0 10px 0;
}
#View_Edit_Profile #Edit_Pro_Right table {
margin:0 0 10px 0;
}
#View_Edit_Profile #Edit_Pro_Right p {
margin:0 0 10px 0;
font-size:18px;
}
#View_Change_Pass form label {
display: block;
font-size:18px;
margin: 0 10px 0 0;
text-align: left;
}
#Edit_Pro_Right form a
{
	color:black !important;
}
#Edit_Pro_Right form a:hover
{
	color:rgb(90,171,170) !important;
}
#View_GetRecom_1 p, #View_GetRecom_2 p {
padding:0 0 10px 0;
line-height:normal;
font-size:18px;
}
#dashboard_container #about_you, #dashboard_container #by_you, #dashboard_container #View_Reviews p{
padding:0 0 10px 0;

font-size:18px;
}
#payout_new_select #paypal_payout h3 {
background:#EFEFEF;
padding:5px 10px;
margin:10px 0;
}
#View_Currents_Tips .clsLink2_Bg {
margin:10px 0 0;
}
#Msg_Inbox_Big #message {
background:#C1E7FC;
padding:10px;
border:2px solid #7ED3FF;
-moz-border-radius:10px; /* Firefox */
-webkit-border-radius:10px; /* Safari and Chrome */
-khtml-border-radius:10px; /* Linux browsers */
border-radius:10px; /* Opera 10.50, IE and CSS3 */
display:none;
text-align:center;
font-weight:bold;
color:#000;
margin:0 0 10px 0;
}
#View_Cancel_Host p, #View_Cancel_Host li {
padding:0 0 10px 0;
}
#View_Cancel_Travel p, #View_Cancel_Travel li {
padding:0 0 10px 0;
font-size:20px;
}
#View_Cancel_Travel h2
{
	font-size:22px;
}
#View_Checkin p {
padding:0 0 10px 0;
}
#fancybox-content
{
	width:100% !important;
}
#View_Transaction #paging {
overflow:hidden;
line-height: 20px;
text-align:right;
margin:10px 0 0 0;
}
#View_Transaction #paging .pagingnav span {
font-weight:bold;
color:#fff;
background:url(images/pagination_bg.png) no-repeat 0 0;
height:20px;
width:20px;
display:inline-block;
text-align: center;
margin:0 0 0 5px;
}
#View_Transaction #paging .pagingnav a:hover {
color:#fff;
background:url(images/pagination_bg.png) no-repeat 0 0;
text-decoration:none;

}
#View_Transaction #paging .pagingnav a:active {
box-shadow:inset .05em .15em .4em rgba(0, 0, 0, 0.4), inset 0 0 .2em rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.9);
-o-box-shadow:inset .05em .15em .4em rgba(0, 0, 0, 0.4), inset 0 0 .2em rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.9);
-moz-box-shadow:inset .05em .15em .4em rgba(0, 0, 0, 0.4), inset 0 0 .2em rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.9);
-webkit-box-shadow:inset .05em .15em .4em rgba(0, 0, 0, 0.4), inset 0 0 .2em rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.9);
}
#View_Transaction #paging .pagingnav a {
font-weight:bold;
background:url(images/pagination_bg.png) no-repeat 100% 0;
height:20px;
width:20px;
display:inline-block;
color:#7e7d7d;
}
#View_Change_Pass fieldset { 
border:0;
}
#View_Change_Pass dd {
padding:0 0 20px 0;
}
.view_Reviews_Common #user_result_review .review_prof_img img {
    border: 1px solid #CDCDCD;
    padding: 1px;
}
.view_Reviews_Common #user_result_review .review_prof_img {
	width:82px;
	border: 1px solid #CDCDCD;
    padding: 3px;
	text-align:center;
	overflow:hidden;
}
.view_Reviews_Common #user_result_review .review_prof_img a {
	display:block;
}
.view_Reviews_Common #user_result_review .review_prof_img a + a {
	padding:2px 0;
	width:76px;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
}

.view_Reviews_Common #user_result_recommendation .review_prof_img img {
    border: 1px solid #CDCDCD;
    padding: 1px;
}
.view_Reviews_Common #user_result_recommendation .review_prof_img {
	border: 1px solid #CDCDCD;
  text-align:center;
	overflow:hidden;
	padding:3px 7px 3px 3px;
	word-wrap: break-word;
	margin-bottom:10px;
}
.view_Reviews_Common #user_result_recommendation .review_prof_img a {
	display:block;
}
.view_Reviews_Common #user_result_recommendation .review_prof_img a + a {
	padding:2px 0;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
}
.view_Reviews_Common #user_result_recommendation .review_right_content {
    background: url(images/edit_lsit_top.png) repeat-x scroll center bottom #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    padding: 5px 10px;
   position:relative;
	margin:10px 0px 10px 10px;
}
.view_Reviews_Common #user_result_recommendation .review_right_content .review_right_arrow {
    background: url(images/arrow_right1.png) no-repeat scroll left top transparent;
    display: block;
    height: 20px;
    left: -8px;
    position: absolute;
    top: -2px;
    width: 9px;
}
.view_Reviews_Common #user_result_review {
	border-left:1px solid #CDCDCD;
	border-top:1px solid #CDCDCD;
	border-right:1px solid #CDCDCD;
}
.view_Reviews_Common #user_result_review td {
	padding:10px;
	border-left:1px solid #CDCDCD;
	border-bottom:1px solid #CDCDCD;
}
.view_Reviews_Common #user_result_review td:first-child {
	border-left:none;
}

#View_Vouch #user_result_list {
	border-spacing:2px 2px
}
#View_Vouch #user_result_list th {
	height:23px;
	text-align:center;
	vertical-align:middle;
	background-color:#f1f3e8;
	font-weight:bold
}
#View_Vouch #user_result_list tr.hover td {
	background-color:#f6f7ef;
	cursor:pointer
}
#View_Vouch #user_result_list td {
	padding:2px 0 1px;
	border-bottom:thin dashed #bcb8b8
}
#View_Vouch #View_Vouch #user_result_list td .first-line {
	height:17px;
	overflow:hidden
}
#View_Vouch #user_result_list td.place_image {
width:75px;
	padding:10px 0;
	
}

#View_Vouch #user_result_list td.host_image {
	width:50px;
	text-align:center;
	vertical-align:middle
}
#View_Vouch #user_result_list td.main {
	/*width:235px;*/
	vertical-align:top;
	padding:10px;
	line-height:normal;
	word-wrap: break-word;
	word-break:break-all;
}
#user_result_list .even
{
	margin-left:0px !important;
}
#View_Vouch #user_result_list td.main div.letter {
	float:left;
	width:20px
}
#View_Vouch #user_result_list td.main div.non-letter {
	float:left;
	width:230px
}
#View_Vouch #user_result_list td.main .title {
	font-size:13px;
	font-weight:bold;
	padding-left:0px;
}
#View_Vouch #user_result_list td.address {
	font-weight:bold;
	background-color:#cfe5ff;
	border-bottom:none;
	padding:6px
}
#View_Vouch #user_result_list td.address .distance {
	color:#fc3947
}
#View_Vouch #user_result_list td.space {
	width:90px;
	vertical-align:top;
	text-align:center;
	color:#7e7979
}
#View_Vouch #user_result_list td.accommodates {
	width:120px;
	vertical-align:top;
	text-align:center;
	color:#7e7979
}
#View_Vouch #user_result_list td.reviews {
	width:115px;
	vertical-align:top;
	text-align:center;
	color:#7e7979
}
#View_Vouch #user_result_list td.price {
	width:85px;
	vertical-align:middle;
	text-align:right;
	font-size:26px;
	font-weight:bold;
	color:#323232
}
#View_Vouch #user_result_list td.place_image .thumbnail:hover {
	position:relative;
	z-index:0
}
#View_Vouch #user_result_list td.place_image .thumbnail:hover {
	background-color:transparent;
	z-index:50
}
#View_Vouch #user_result_list td.place_image .thumbnail span {
	position:absolute;
	min-height:100px;
	left:-1000px;
	padding:2px;
	background:#ACD3EB;
	visibility:hidden;
	color:black;
	top:15px;
	text-decoration:none
}
#View_Vouch #user_result_list td.place_image .thumbnail span img {
	border-width:0;
	border-radius:5px;
	height:100px;
}
.red_mar p
{
padding-top:7px;	
}
#View_Vouch #user_result_list td.place_image .thumbnail:hover span {
	visibility:visible;
	left:0;
	z-index:9000;
	border-radius:5px;
	
}



#View_Vouch #vouch_recom_tab .review_prof_img img {
    border: 1px solid #CDCDCD;
    padding: 1px;
}
#View_Vouch #vouch_recom_tab .review_prof_img {
	/*width:82px;*/
	border: 1px solid #CDCDCD;
    padding: 3px;
    padding-right:7px;
	text-align:center;
	overflow:hidden;
}
#View_Vouch #vouch_recom_tab .review_prof_img a {
	display:block;
}

#View_Vouch #vouch_recom_tab .review_prof_img a + a {
	padding:2px 0;
	/*width:76px;*/
	margin:0 auto;
	text-align:center;
	overflow:hidden;
	color:rgb(77,77,77);
}
#View_Vouch #vouch_recom_tab .review_prof_img a + a:hover
{
	color:rgb(90,171,70);
}
#View_Vouch #vouch_recom_tab .review_right_content {
    background: url(images/edit_lsit_top.png) repeat-x scroll center bottom #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    padding: 5px 10px;
    position:relative;
	margin:10px 0px 10px 10px;
}
#View_Vouch #vouch_recom_tab .review_right_content .review_right_arrow {
    background: url(images/arrow_right1.png) no-repeat scroll left top transparent;
    display: block;
    height: 20px;
    left: -8px;
    position: absolute;
    top: -2px;
    width: 9px;
}
.Frm_Error_Msg
{
	color: red;
	}
	

#welcome_msg_box {
    /*background: none repeat scroll 0 0 #FCF49C;*/
   background-color:#f7f6f2;
	padding: 0px 5px 0px 5px;
	box-shadow:none;
	border:1px solid #c0c0c0;
	margin-top:10px;
		
}


.msgbg {
   /* background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;*/
}


.msgbg h2 {
    color: #393C3D;
	font-weight: normal;
	display:block;
	overflow:hidden;
}
.gotomsg {
    padding: 6px 25px;
    text-transform: uppercase;
    background-color:#c0c0c0;
    border:1 px solid #c0c0c0;
    box-shadow:0 11px 8px -10px rgb(0, 0, 0);
    color:white;
    font-weight:bold;
    
}

.invitemore {
    text-transform: uppercase;
	padding: 6px 13px;
}
#dashboard_page ul.subnav li a:hover {
    color: #393C3D;
    text-decoration: none;
}
.tripsearch {
    padding: 4px 13px;
}



#Edit_Pro_Right input, .name_input, .private_lock {
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
    float:left;
}

#user_profile_info_about {
    border: 1px solid #C4C4C4;
}
.btn.blue.gotomsg {
    text-decoration: none;
}
#dashboard_container #welcome_msg_box h3 {
    font-weight:normal;
    padding:2px 20px 2px 18px;
    color:white;
    background-color:#c0c0c0;
    border-radius:8px;
    width:183px;
     margin-bottom: 30px;
    box-shadow: 0 11px 8px -10px rgb(0, 0, 0);  
    font-size:20px;
}

#country, #city{
    padding: 2px;
	/*padding:0;*/
	border-radius:0;
	margin-top: 3px;
}

.Notification_Content a {
    text-transform: capitalize;
}

.invite_face li {
    float: left;
}

.invite_face {
    float: left;
    padding: 15px 10px;
    width: 670px;
}

.invite_email li {
    float: left;
}

.invite_email {
    padding: 15px 10px;
    width: 670px;
}
.current_verify {
/*	margin: 0 0 0 -37px;*/
}
.add-more-verifications-icon {
	color: #939393;
	font-size: 26px;
	height: 22px;
	width: 24px;
}
.verification-icon {
	color: #BFBFBF;
	font-size: 20px;
	height: 20px;
	width: 20px;
}
#dashboard_page .container_bg  .top_head
{
	height:60px;
	width:100%;
	padding:5px;
	background-color:#89C374 !important;
	
}
#dashboard_page .container_bg
{
	padding:25px 30px !important;
	border: 1px solid !important;
}
#das_user_box
{
	background-color:#f7f6f2;
	padding:0px;
	padding-bottom:25px;
	overflow:hidden;
}
#dashboard_page .das_user_box .Box_Content1 h1
{
	background-color:#c0c0c0;
}
#dashboard_page .das_user_box .Box_Content
{
	padding:0px !important;
}
#quick_links .Box_Head 
{
	background-color:#c0c0c0;
	color:white;
	padding:5px 0px;
}
#quick_links .Box_Head h2
{
	margin:0px;
	color:white;
	font-weight:normal;
	padding-left:15px;
	text-transform: none;
}
#quick_links .Box_Content
{
	background-color:#f7f6f2;
	padding:0px;
}
.Wish_title a
{
	color:rgb(77,77,77);
	font-weight:bold;
	font-size:22px;
	line-height:normal;
}
.Wish_title a:hover
{
	color:rgb(90,171,70);
}
.wish_address
{
	font-size: 20px;
	line-height:normal;
}
#quick_links ul
{
	margin-left:0px !important;
	margin-top:10px;
	float:left;
}
#quick_links img
{
	float:left;
	margin-right:10px;
	overflow:hidden;
}
.word_spc
{
	word-spacing:8px;
}
#dashboard_page #alerts .middle_alert 
{
	background-image:none;
	background-color:#ffffff;
}
#welcome_msg_box .Box_Content p
{
	font-size:20px;
	color:c0c0c0;
	
}
#dashboard_container #welcome_msg_box .Box_Content
{
	padding-top:0px;
	padding-bottom:0px;
}
.middle_alert h3
{
	background-color:#c0c0c0;
	padding:4px 0px;
	border-radius:8px;
	padding-left:32px;
	color:white;
	text-transform:uppercase;
	font-weight: normal;
	font-size:18px;
	margin-top:0px;
	
	
	
}
#dashboard_page #alerts .middle_alert
{
	padding:0px !important;
	border-top-right-radius: 8px;
	border-top-left-radius:8px;
}
#dashboard_page #alerts li
{
	border:0px;
}
#dashboard_page
{
	background-color:#fefefd;
}
#dashboard_page #Msg_Inbox_Big .msgbg
{
	background-color:#c0c0c0;
	border-radius:8px;
	color:white;
	text-transform:uppercase;
	
}
#dashboard_page #Msg_Inbox_Big .msgbg h2
{
	margin:0px;
	color:white;
	padding:0px;
	font-weight: normal;
	text-align: center;
	line-height:34px;
}
#dashboard_page ul#nav li:last-child
{
	border:0px;
}

#dashboard_page #Msg_Inbox_Big .Box_Content
{
	background-color:white;

}
#Dash_Msg_Small .msgbg
{
	background-color:#c0c0c0;
	border-radius:8px;
	padding:5px 0px;
}
#Dash_Msg_Small .msgbg h2
{
	margin:0px;
	color:white;
	text-transform: uppercase;
	border-radius:8px;
	font-weight:normal;
	padding-left:32px;
}
#Msg_Inbox_Small li
{
	border-bottom:2px dotted #c0c0c0;
	background-color:white;
	padding-left:10px;
}
#Msg_Inbox_Small .clsFloatLeft
{
	padding:10px;
}
#Msg_Inbox_Small .clsFloatLeft p a
{
	
	margin-top:10px;
	text-transform:capitalize;
	color:#4d4d4d;
	line-height:1;
	font-weight: bold;
}

#Msg_Inbox_Small .clsFloatLeft .user_spn
{
	color:#818188;
}
#Msg_Inbox_Small .clsFloatLeft p a:hover
{
	color:#89c374;
}
#Msg_Inbox_Small .clsMeg_Off p:hover
{
	color:#89c374;
}
#Dash_Msg_Small .Txt_Right_Align a
{
	float:right;
	padding:0px;
	padding-right:25px;
	margin:0px;
	color:yellow;
	text-transform: uppercase;
	font-weight:normal;
	font-size:18px;
	
	
}
#Dash_Msg_Small .Txt_Right_Align
{
	float:right;
}
#dashboard_container .Box_dash
{
	background-image:none;
	border:0px;
	
}
#View_Vouch
{
	border:1px solid #c0c0c0;
	background-color:#fefefd;
	padding:30px;
}
#View_Vouch #left .Box
{
	background-color:#f7f6f2;
}
#Dash_Msg_Small .Box_Content,#Dash_Msg_Small .Box
{
	background-color:white;
}
#dashboard_left #das_user_box .Box_Content1
{
	padding:0px 10px;
}
#listings-container ul
{
	margin-left:0px;
}
#Mange_Lisiting .Box_Content 
{
	background-color:white;
}
#Dash_Msg_Small .Box_Content
{
	padding-left:0px;
	padding-right:0px;
}
.edit_prof_change
{
	margin:0px 32px 0px 32px;
	border-radius:8px;
	background-color:#dbd7c5;
}
#Msg_Inbox_Big li
{
	border:1px solid rgb(247,246,242);
	margin:15px 10px 0px 0px;
	padding:15px 10px;
}


#Msg_Inbox_Big .clsMeg_Detail .msg_big_spn
{
	color:rgb(129,129,136);
	font-size:19px;
}
/*#Msg_Inbox_Big li:nth-child(odd)
{
	background-image:url(images/msg1.png);
	background-repeat:no-repeat;
	background-position:bottom center;
}*/
#dashboard_container .Box_dash 
{
	border:1px solid rgb(192,192,192);
	background-color:#f7f6f2;
}
#View_Upcome_Trips .clsBold
{
	font-size:17px;
}
.upcme_border 
{
	border-bottom:3px dotted #c0c0c0;
	margin-bottom:15px;
}
.upcme_text
{
	font-size:19px;
	padding-left:20px;
	padding-right:20px;
}
.upcme_head
{
	font-size:22px;
	padding:10px 0px 0px 10px;
	border:none !important;
	
	}
#View_Upcome_Trips .Box_Content
{
	padding:0px !important;
	border:none !important;
}
#View_Upcome_Trips .Box
{
	padding:10px;
}
.trans_detail
{
	font-size:19px;
	line-height: normal;
	line-height:3;
	word-wrap:break-word;
}
.trans_hd
{
	font-size:22px;
}
