body{
	font-family: 'padaukregular';	
}
#room{
	background:#FEFEFD;
	border:1px solid #E6E6E6;
	border-radius:30px;
	padding: 20px;
}
#Roooms_Social_Like {
background:url(images/rooms_like_bg.png) no-repeat 0 0;
height: 269px;
position:absolute;
right: -87px;
top: 11px;
width: 66px;
padding:0 10px;
text-align:center;
}
#Roooms_Social_Like p:first-child {
padding:10px 0;
}
#Roooms_Social_Like p {
padding:0 0 10px 0;
}
#Roooms_Social_Like p + p + p {
padding:0 0 0px 0;
}
#new_hosting_actions {
background:#fff url(images/hosting_actions_bg.png) repeat-x center bottom;
border: 1px solid #e3e3e3;
padding: 10px 0;
margin:0 0 10px 0;
border-radius: 30px;
}
#new_hosting_actions h2 {
font-size: 28px;
font-weight: normal;
padding: 5px 20px;
}
#new_hosting_actions h2 span{
font-size:18px;
}
#new_hosting_actions hr.toolbar_separator {
background: none repeat scroll 0 0 #dedede;
border: 0 none;
height: 1px;
margin: 0 20px;
padding: 0 20px;
}
#room #the_roof {
/*background:url(images/the_roof_bg.png) no-repeat 0 0;*/
/*idth:959px;
height:80px;*/
margin:0 0 0px 0;
}
#room #the_roof #the_roof_left {
/*width:715px;*/
padding:0 0 0px 0px;
overflow:hidden;
color:#393c3d;
}
#room #the_roof #the_roof_left h1 {
font-size: 32px;
/*font-weight: normal;*/
color:#5aab46;
/*height: 30px;*/
margin: 0px 0 0;
overflow: hidden;
padding: 0px 0 0;
padding-bottom:15px;
}
#room #the_roof #the_roof_left h3 {
font-size:14px;
font-weight:normal;
overflow:hidden;
margin:10px 0 0 0;
/*height:17px;*/
}
#room #the_roof #the_roof_right li {
float: left;
color:#000;
font-size:11px;
height:58px;
padding: 0 10px;
text-align:center;
}
#room #the_roof_right {
margin: 13px 12px 0 0;
width: 165px;
}
/*#room #the_roof #the_roof_right li:first-child {
background: url(images/nav_border.png) repeat-y scroll right top;
}*/
#room #the_roof #the_roof_right li p span {
background:url(images/review_views.png) no-repeat 0 0;
height:37px;
width:32px;
line-height:26px;
display:block;
font-size: 13px;
font-weight: bold;
}
#room #the_roof #the_roof_right li p {
margin:0 0 3px 0;
}
#room #left_column {
/*width:660px;
float:left;*/
}
/*#room #left_column #Rooms_Slider .Box_Head {
border-bottom:2px solid #40aeec;
}*/
/*#room #left_column ul.rooms_sub_nav li.selected a {
background:url(images/nav_select.png) no-repeat center bottom;
color:#1d91d1;
}*/

#room #left_column ul.rooms_sub_nav li.selected a {
    background:#D1D1D1;
    box-shadow:0 13px 6px -10px #000000;
    color: #FFFFFF;
    padding:7px 20px;
	/*border-bottom:2px solid #fff;*/
	font-size: 22px;
    border-radius: 8px;
    text-decoration:none;
/*	font-weight: bold;*/
}
#room #left_column ul.rooms_sub_nav li a:hover {
/*background:url(images/nav_select.png) no-repeat center bottom;
text-decoration:none;
color:#1d91d1;*/
    background: none repeat scroll 0 0 #D1D1D1;
    color: #FFFFFF;
	text-decoration:none;
    border-radius: 8px;
}
.contact_me{
	background:#a09465;
	color:#FFFFFF;
	text-transform: uppercase;
	font-size:20px;
	border:none;
	border-radius:8px;
	padding:11px 5px 7px 5px;
	font-family: 'padaukregular';
	width:100%;
}
#room #left_column ul.rooms_sub_nav li a {
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    font-size: 20px;
    text-transform:uppercase;
    padding:7px 20px;
    margin:7px 20px;
   /* text-shadow: 0 1px 0 #FFFFFF;*/
	/*font-weight: bold;*/
}
/*#room #left_column .rooms_sub_nav li {
height:36px;
line-height:56px;
float:left;
background:url(images/nav_border.png) repeat-y right top;
}*/
.rooms_sub_nav {
    padding: 0px;
    margin:0;
}
#room #left_column .rooms_sub_nav li {
   /* background: none repeat scroll 0 0 #E4E4E4;
    border: 1px solid #C3C3C3;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;*/
   border-right:1px solid #d8d8d8;
    float: left;
    /*height: 37px;
    line-height: 37px;*/
    /*margin-bottom: -1px;*/
    /*margin-right: 20px;*/

}
#room #left_column #Rooms_Slider #photos_div {
/*width:100%;
height: 491px;
padding:0 0 10px 0;*/
}
#room #left_column #Rooms_Slider #maps_div {
height: 470px;
width: 100%;
padding:0 0 10px 0;
}
#room #left_column #Rooms_Slider #street_view_div {
height: 480px;
width: 639px;
padding:0 0 10px 0;
}
#room #left_column #Rooms_Slider #street_view_div #pano {
height: 454px;
width: 639px;
margin:0 0 10px 0;
}
#room #left_column #Rooms_Slider #maps_div #map {
height: 470px;
width: 100%;
}
.galleria-container {
position:relative;
overflow:hidden;
width: 100% !important;
height:595px !important;
}
.galleria-image, .galleria-thumbnails{
	width:100% !important;
}
.galleria-container img {
-moz-user-select:none;
-webkit-user-select:none;
-o-user-select:none;
width:100% !important;
left:0 !important;
height:520px !important;

}
.galleria-stage {
position:absolute;
overflow:hidden;
width:100%;
height:100%
}
.galleria-thumbnails-container {
left:25px;
right:37px;
height:65px;
bottom:0px;
position:absolute;
z-index:2
}
.galleria-carousel .galleria-thumbnails-list {
margin:0
}
.galleria-images {
z-index:0
}
.galleria-thumbnails .galleria-image {
/* background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #BABABA;*/
cursor: pointer;
float: left;
height: 55px !important;
margin: 3px 0px 5px 20px;
/*padding: 2px;*/
width: 55px !important;
z-index: 2;
}
.galleria-thumbnails .galleria-image img {
z-index:2;
position:relative
}
.galleria-image.active {
/*background: none repeat scroll 0 0 #1D9EDC;
border: 1px solid #28C7EA;*/
/*    background: none repeat scroll 0 0 #EE2A96;
    border-color: #AE0061;
    box-shadow: 0 0 4px 3px rgba(255, 94, 188, 0.6);*/
}
.galleria-thumbnails .galleria-image img {
height:55px !important;
width:55px !important;
border-radius: 10px;
opacity: 1 !important;
}
.galleria-counter {
display:none !important;
position:absolute;
bottom:10px;
left:10px;
text-align:right;
color:#fff;
font:normal 11px/1 arial, sans-serif;
z-index:2
}
.galleria-loader {
background:#000;
width:20px;
height:20px;
position:absolute;
top:10px;
right:10px;
z-index:2;
display:none;
/* background:comes here - sankar */
}
.galleria-info {
width:100%;
z-index:2;
position:absolute;
bottom:63px;
opacity:.7
}
.galleria-info-text {
/*background-color:#000;*/
background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
padding:12px;
display:none;
zoom:1
}
.galleria-info-title {
margin:0;
color: #FFFFFF;
font-weight: bold;
background-color: transparent;
font-size: 15px;
text-align: center;
}
.galleria-info-description {
margin:0;
color:#fff;
font-style:italic;
text-align:center
}
.galleria-info-close {
width:9px;
height:9px;
position:absolute;
top:5px;
right:5px;
background-position:-753px -11px;
opacity:.5;
filter:alpha(opacity=50);
cursor:pointer;
display:none
}
.galleria-info-close:hover {
opacity:1;
filter:alpha(opacity=100)
}
.galleria-info-link {
margin-top:-21px;
background-position:-669px -5px;
opacity:.7;
filter:alpha(opacity=70);
position:absolute;
width:20px;
height:20px;
cursor:pointer;
background-color:#000;
border-top-right-radius:6px
}
.galleria-info-link:hover {
opacity:1;
filter:alpha(opacity=100)
}
.galleria-image-nav {
background:#f6f1de;
/*border: 1px solid #c3c3c3;*/
border-radius:5px;
position:absolute;
bottom:0;
width:100%;
height:70px;
left:0
}
.galleria-image-nav-left, .galleria-image-nav-right {
cursor:pointer;
width:25px;
position:absolute;
z-index:2;
background:url(images/sldr_left.png) no-repeat 0 0;
background-size:100%;
height: 75px;
}
.galleria-image-nav-left:hover, .galleria-image-nav-right:hover {
opacity:1;
filter:alpha(opacity=100)
}
.galleria-thumb-nav-left, .galleria-thumb-nav-right {
cursor:pointer;
display:none;
background-position:-495px 5px;
position:absolute;
left:0;
top:0;
height:0;
width:0;
z-index:3;
opacity:.8;

}
.galleria-thumb-nav-right {
background-position:-578px 5px;
border-right:none;
right:0;
left:auto
}
.galleria-thumbnails-container .disabled {
opacity:.2;
filter:alpha(opacity=20);
cursor:default
}
.galleria-thumb-nav-left:hover, .galleria-thumb-nav-right:hover {
opacity:1;
filter:alpha(opacity=100);
background-color:#111
}
.galleria-thumbnails-container .disabled:hover {
opacity:.2;
filter:alpha(opacity=20);
background-color:transparent
}
.galleria-carousel .galleria-thumb-nav-left, .galleria-carousel .galleria-thumb-nav-right {
display:none
}
.galleria-thumb-nav-left, .galleria-thumb-nav-right, .galleria-info-link, .galleria-info-close {

background-repeat:no-repeat
}
.galleria-image-nav-right {
/*background-position: -22px 0;*/
left: auto;
right: 0;
z-index: 2;
background:url(images/sldr_ryt.png) no-repeat 0 0;
background-size:100%;
/*margin: 0 6px 0 0;*/
}
.galleria-image-nav-right:hover {
 /*background-position: -112px 0;*/
 /*background-position: -22px 0;*/
}
.galleria-image-nav-left:hover {
/*background-position: -74px 0;*/
/*background-position: 0 0;*/
}
.galleria-image-nav-left {
/*margin:0 0 0 6px;*/
}
div.galleria_wrapper {
/*width:100%;
height:428px;*/
position: relative;
}
div.galleria_wrapper div#galleria_container {
width:100%;
height: 590px;
margin-bottom:4px;
display:block
}
.galleria_wrapper .image-placeholder img, .galleria-image img{
	width:100% !important;
	height:520px;
	border-radius:30px;
}
div.galleria_wrapper div.image-placeholder {
cursor:pointer;
position:absolute;
width:100%;
height:428px;

}
/*#room #left_column #Rooms_Details .Box_Head {
border-bottom: 2px solid #40AEEC;
}*/
#room #left_column #Rooms_Details #description_text {
/*border-right: 1px solid #D9D9D6;*/
height: 600px;
overflow: hidden;
padding: 0;
/*width: 350px;*/
/*float:left;*/
margin-left:1%;
}
#Rooms_Details #description {
padding:0 0 10px 0;
}
#description_details ul{
	margin:30px 0 0 0;
	padding:0px;
}
#room #left_column #Rooms_Details #description_text_wrapper {
clear: left;
overflow: auto;
padding: 20px;
background:#f7f6f2;
border-radius: 20px;
height: 93%;
}
#room #left_column #Rooms_Details #description_text p {
font-size: 20px;
margin-bottom: 10px;
line-height:31px;
color:#999999;
}
#room #left_column #Rooms_Details #amenities {
height: auto;
padding:0 0 10px 0;
}
#room #left_column #Rooms_Details #amenities ul:first-child {
/*padding:0px;*/
}
#room #left_column #Rooms_Details #amenities ul {
float: left;
padding: 0px;
width: 230px;
margin:0px;
}
#room #left_column #Rooms_Details #amenities ul li {
display: block;
float: left;
padding: 10px 0;
width: 100%;
}
#room #left_column #Rooms_Details #amenities .amenity-icon {
float: left;
margin-top: 1px;
}
#room #left_column #Rooms_Details #amenities ul li p {
/*float: left;*/
/*line-height: 15px;*/
font-size:20px;
padding: 3px 10px;
/*width: 169px;*/
margin:0px;
color:#999999;
}
#room #left_column #Rooms_Details #house_rules {
height: 231px;
padding:0 0 10px 0;
}
#room #left_column #Rooms_Details #house_rules_text {
/*border: 1px solid #D9D9D6;*/
/*float: left;*/
color:#999999;
/*background:#f2f0e9;
border-radius:20px;*/
font-size: 20px;
line-height:25px;
min-height: 200px;
overflow: auto;
padding: 10px;
/*width: 620px;*/
}
#room #left_column .Rooms_Shere_Where:hover .Box_Head .room_share_close {
background:url(images/close_icon.png) no-repeat 0 0;
}
#room #left_column .Rooms_Shere_Where .Box_Head .room_share_close {
position:absolute;
right: 8px;
top: 9px;
background:url(images/close_icon.png) no-repeat 0 -17px;
}
#room #left_column .Rooms_Shere_Where .Box_Head .room_share_close a {
height:16px;
width:16px;
display:block;
text-indent:-2000px;
}
#room #left_column .Rooms_Shere_Where p {
padding:0 0 10px 0;
}
#room #left_column .Rooms_Shere_Where p input {
width:613px;
padding:5px 10px;
background:#fff;
border:1px solid #d2d2d2;
border-radius:.3em;
-moz-border-radius:.3em;
-webkit-border-radius:.3em;
box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-o-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}
/*#room #left_column #reputation .Box_Head {
border-bottom: 2px solid #40AEEC;
}*/
#room #right_column {
/*float: right;*/
padding: 0;
/*width: 290px;*/
}
/*#room #right_column #book_it {
background:#81cef6 url(images/book_it_bg.png) repeat-x center top;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
-khtml-border-radius: 5px;
border-radius: 5px;
border:1px solid #7ed3ff;
color:#000;
margin:0 0 10px 0;
}*/

#room #right_column #book_it {
    background: none repeat scroll 0 0 #f7f6f2;
    border: 1px solid #E8E8E8;
    border-radius:8px 8px 0 0;
    color: #393C3D;
    margin: 0 0 30px;
}
#room #right_column #book_it p {
padding:0 0 0px 0;
}
#room #right_column #book_it p label {
float:left;
display:block;
width:160px;
font-weight:bold;
}
#room #right_column #book_it p.price_ammount {
height:30px;
}
#room #right_column #book_it p.price_ammount label {
font-size:27px;
}
#room #right_column #book_it p.price_ammount #payment_period {
margin:6px 0 0 0;
}
#room #right_column #book_it #pricing, #room #right_column #book_it #dates {
padding:25px 10px 5px 10px;
margin:0 0px;
overflow:hidden;}
#room #right_column #book_it #pricing label#price_amount {
font-size: 35px;
font-weight:bold;
text-shadow: 2px 2px 2px #FFFFFF;
text-align:right;
}
/*#room #right_column #book_it #dates {
background:url(images/book_it_sec_border.png) repeat-x center top;
}*/

#room #right_column #book_it #dates {
/*    border-top: 1px solid #D1D1D1;*/
background:url(images/dot_bdr.png) repeat-x top center;
}
#room #right_column #book_it #dates input[type="text"] {
/*width:70px;*/
padding:6px 8px;
box-shadow:none;
background:#fff;
border:1px solid #E2E2E2;
border-radius:8px;
font-size:16px;
margin-bottom:10px;
background: #ffffff url(images/searchdate.png) no-repeat 96% center;
color:#b7b7b7;
/*border-radius:.3em;
-moz-border-radius:.3em;
-webkit-border-radius:.3em;
box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-o-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
padding:.3em .4em;*/
}
#room #right_column #book_it #book_it_status {
background:#e1ddce;
padding:10px 10px;
color:#000;
}
#room #right_column #book_it #book_it_status #selBook_Now {
width:92px;
}
#room #right_column #book_it #book_it_status #subtotal_area {
/*width:165px;*/
color: #767676;
    font-size: 22px;
    margin-top: 25px;
    overflow: hidden;
    width: 100%;
}
#room #right_column #book_it #book_it_status #book_it_enabled {
/*padding:0 0 10px 0;*/
}
#book_it #book_it_status #book_it_disabled {
text-align:center;
}
#book_it #book_it_status #book_it_disabled p#book_it_disabled_message {
font-weight:bold;
color:#FF0000;
}
#book_it #book_it_status #show_more_subtotal_info {
padding:0 0 10px 0;
font-size:16px;
color:#808080;
}
#room #right_column #Room_User #user_info_big {
text-align:center;
padding:25px;
}
#room #right_column #Room_User #user_info_big h2 {
font-size:24px;
color:#26a2e1;
margin:0 0 10px 0;
}
#room #right_column #Room_User {
-moz-border-radius:9px 9px 0 0;
-webkit-border-radius:9px 9px 0 0;
-khtml-border-radius:9px 9px 0 0;
border-radius:9px 9px 0 0;
}
#room #right_column #Room_User #user_info_big img {
background:#fff;
/*border:1px solid #e6e6e6;*/
-webkit-box-shadow: 0 14px 8px -9px #000000;
-moz-box-shadow: 0 14px 8px -9px #000000;
box-shadow: 0 14px 8px -9px #000000;
margin:0px 0;
border-radius:12px;
}
#room #right_column #Room_User #user_info_big img:hover {
opacity:.9;
-ms-filter:"alpha(opacity=90)";
filter:alpha(opacity=90)
}
#Room_User #user_info_big #less_info_text, #Room_User #user_info_big #more_info_text {
float: left;
cursor:pointer;
}
#Room_User #user_info_big span.expand-arrow {
display: block;
float: left;
height: 10px;
margin:13px 0 0 10px;
width: 5px;
background:url(images/show_more_arrow.png) no-repeat 0 0;
}
#Room_User #user_info_big span.expand-arrow.contract {
background-position: -5px 0;
width: 11px;
margin: 11px 0 0 10px;
}
#Room_User #user_info_big #show_more_user_info1 {
display:block;
background:url(images/show_more_bg.png) repeat-x center top;
height:34px;
line-height:34px;
padding:0 10px;
color:#555555;
}
#Room_User #user_info_big #show_more_user_info1:hover {
background:url(images/show_more_over_bg.png) repeat-x center top;
text-decoration:none;
}
#Room_User #user_info_big #showarror, #Room_User #user_info_big #downarrow {
text-align:left;
}
#Room_User #user_info_big #showarror span.arrows {
background: url(images/show_more_arrow.png) no-repeat 0 0;
display: inline-block;
height: 9px;
margin: 0 0 0 9px;
width: 5px;
}
#Room_User #user_info_big #downarrow span.arrows {
 background: url(images/show_more_arrow.png) no-repeat -5px 0;
    display: inline-block;
    height: 11px;
    margin: 0 0 0 9px;
    width: 14px;
}
#Room_User #user_info_big #contactExpand {
padding:10px;
}
#Room_User #user_info_big #contactExpand textarea { 
background:#fff;
border:1px solid #d2d2d2;
border-radius:.3em;
-moz-border-radius:.3em;
-webkit-border-radius:.3em;
box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-o-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
margin:0 0 10px 0;
padding:5px;
}
#Room_User #user_info_big #show_contact_me {
display:block;
background:url(images/show_more_bg.png) repeat-x center top;
height:34px;
line-height:34px;
padding:0 10px;
color:#555555;
}
#Room_User #user_info_big #show_contact_me:hover {
background:url(images/show_more_over_bg.png) repeat-x center top;
text-decoration:none;
}
#Room_User #user_info_big ul#more_info1 {
padding: 30px 0 15px;
text-align: left;
margin:0px;
font-size: 17px;
color:#4D4D4D;
}
#Room_User #user_info_big ul#more_info1 li {
display: block;
padding: 0 0 5px;
overflow:hidden;
}
.related_listings_content .related_listing_left {
float: left;
width: 77px;
margin:0 0 0 10px;
}
.related_listings_content ul {
/*max-height:260px;*/
max-height:500px;
min-height: 80px;
overflow: auto;
}
.related_listings_content .related_listing_right {
float: left;
overflow: hidden;
padding: 0 5px 0 10px;
width: 160px;
}
.related_listings_content .related_listing_left a {
display: block;
}
.related_listings_content .related_listing_left a img {
padding:2px;
border:1px solid #cdcbcb;
}
.related_listings_content .related_listing_right .subtitle {
margin:3px 0 0 0;
}
.related_listings_content li {
/*background:url(images/my_other_list_bor.png) repeat-x center bottom;*/
padding:0 0 10px 0;
margin:10px 0 0 0;
}
.related_listings_content h4 {
text-align:center;
padding:5px 10px 10px 10px;
/*background:url(images/my_other_list_bor.png) repeat-x center bottom;*/
}
#room #right_column #description_details {
position:relative;
}


/*#room #right_column #description_details {
border: 1px solid #D9D9D6;
float: left;
margin-left: 10px;
width: 224px;
}*/
#room #right_column ul#description_details li:first-child {
font-weight:bold;
color:#000;
}
#room #right_column #description_details ul li {
display: block;
width: 268px;
padding:5px 10px;
}
#room #right_column #description_details ul li.bg {
background:#f6f6f6;
}
#room #right_column #description_details ul li span.property {
float: left;
font-weight: bold;
text-align: left;
text-transform: capitalize;
width:130px;
}
#room #right_column #description_details ul li span.value {
float: right;
text-align: right;
width: 125px;
}

#calendar2 table td {
border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF;
border-style: solid;
border-width: 1px;
font-size: 15px;
height: 80px;
margin: 0;
/*padding: 2px 2px 4px;*/
text-align: right;
/*width: 85px;*/
vertical-align:top;
}

#calendar2 .in_the_past {
background-color: #EEEEEE;
}
#calendar2 .available {
background:#819f2a;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#9ebc3b), to(#819f2a));
	background-image:-webkit-linear-gradient(-80deg, #9ebc3b, #819f2a);
	background-image:-moz-linear-gradient(-80deg, #9ebc3b, #819f2a);
	background-image:-ms-linear-gradient(-80deg, #9ebc3b, #819f2a);
	background-image:-o-linear-gradient(-80deg, #9ebc3b, #819f2a);
	background-image:linear-gradient(-80deg, #9ebc3b, #819f2a);
}
#calendar2 .unavailable {
background:#A10;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#c30), to(#a10));
	background-image:-webkit-linear-gradient(top, #c30, #a10);
	background-image:-moz-linear-gradient(top, #c30, #a10);
	background-image:-ms-linear-gradient(top, #c30, #a10);
	background-image:-o-linear-gradient(top, #c30, #a10);
	background-image:linear-gradient(top, #c30, #a10);
}
#calendar2 table th {
background-color: #EEEEEE;
border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF;
border-style: solid;
border-width: 1px;
padding:5px 0;
/*font-weight: 700;*/
margin: 0;
/*padding: 2px 2px 4px;*/
text-align: center;
color:#000;
}				
#calendar2 .key {
float: left;
margin-right: 5px;
width: 30px;
}
#calendar2 .key-text {
float: left;
margin-right: 10px;
}
#calendar2 table .unavailable span.dom {
color:#fff;
}
#calendar2 table td.available span.dom {
color:#fff;
}

#calendar2 table td span.dom {
color: #000;
float: right;
font-size: 14px;
/*font-weight: 700;*/
line-height:13px;
}
#room #left_column #calendar_tab_container p {
padding:0 0 10px 0;
font-size: 16px;
}
#calendar_tab_container .Edit_Cal_Top_left {
/*width:250px;*/
font-size:18px;
margin-bottom:10px;
}
#calendar_tab_container .Edit_Cal_Top_Right {
/*width:290px;*/
font-size:18px;
}
#calendar_tab_container #calendar_tab_variable_content {
margin:10px 0;
}


/* Review Bottom */
.Sat_Top_Left {
background:url(images/satisfaction_bg.png) no-repeat left top;
color: #959595;
font-size: 15px;
font-weight: bold;
height: 77px;
line-height: 20px;
text-align: center;
padding: 10px 25px 0 0px;
width: 136px;
position: absolute;
left:-5px;
}
.Sat_Top_Left p {
font-size: 12px;
font-weight: bold;
line-height: 20px;
margin:0 0 5px 0;
}
.Sat_Top_Right {
/*width:415px;
margin-top: 5px;*/
margin-top: 10px;
width: 490px;
}
.Sat_Star_Nor {
background:url(images/sat_star_nor_old.png) no-repeat left top;
height: 15px;
width: 81px;
margin:0 auto;
text-align:left;
}
.Sat_Star_Act {
/*background:url(images/sat_star1.png) no-repeat left top;*/
background:url(images/sat_star.png) no-repeat scroll left top transparent;
height:15px;
}
.Sat_Star_Nor_1 {
background:url(images/sat_star_nor_old.png) no-repeat left top;
height: 15px;
width: 78px;
}
.Sat_Star_Act_1 {
/*background:url(images/sat_star_nor_old.png) no-repeat left top;*/
background: url(images/sat_star.png) no-repeat scroll left top transparent;
    height: 15px;
height:15px;
}
.Sat_List_1 {
width:195px;
}
.Sat_List_2 {
width:230px;
margin:0 0 0 10px;
}
.Sat_List_1 .Sat_Attribute {
width:105px;
text-transform:uppercase;
color:#333;
font-size:14px;
float:left;
font-weight:bold;
}
.Sat_List_2 .Sat_Attribute {
width:125px;
text-transform:uppercase;
color:#56303a;
font-size:14px;
float:left;
font-weight:bold;
}
.Sat_List_1 .Sat_Star_Nor_1 {
width:78px;
float:right;
}
.Sat_List_2 .Sat_Star_Nor_2 {
width: 78px;
float:right;
}
.Sat_List_1, .Sat_List_2 {
line-height:15px;
}
.Sat_List_1 li, .Sat_List_2 li{
margin:0 0 10px 0;
}
.Sat_Star_Nor_2 {
background:url(images/sat_star_nor_old.png) no-repeat left top;
height: 15px;
width: 78px;
}
.Sat_Star_Act_2 {
/*background:url(images/sat_star_nor_old.png) no-repeat left top;*/
background: url(images/sat_star.png) no-repeat scroll left top transparent;
height:15px;
}
#Sta_Bttm_Blk .Sta_Rat_Prof {
width:88px;
text-align:center;
line-height: 17px;
}
#Sta_Bttm_Blk .Sta_Rat_Prof a {
padding:3px;
background:#fff;
border:1px solid #CDCDCD;
display:block;
text-align:center;
}
#Sta_Bttm_Blk .Sta_Rat_Prof a img {
border:1px solid #CDCDCD;
padding:1px;
}
#Sta_Bttm_Blk .Sta_Rat_Prof a:hover {
text-decoration:none;
}
#Sta_Bttm_Blk .Sta_Rat_Msg {
background: url("images/edit_lsit_top.png") repeat-x scroll center center #FFFFFF;
    border: 1px solid #CDCDCD;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
width:505px;
color:#000;
padding:5px 10px;
height: 60px;

}
#Sati_Top_Blk {
min-height:87px;
padding:10px;
/*background: url("images/edit_lsit_top.png") repeat-x scroll center bottom #FFFFFF;*/
position: relative;
}
.StaMsg_LeftArrow {
background:url(images/arrow_right1.png) no-repeat left top;
display: block;
    height: 20px;
    left: -8px;
    position: absolute;
    top: 7px;
    width: 9px;
}
.Sta_Rat_Msg {
/*position:relative;*/
background: url("images/edit_lsit_top.png") repeat-x scroll center center #FFFFFF;
    border: 1px solid #CDCDCD;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
width:505px;
color:#000;
padding:5px 10px;
height: 60px;
}
#Sta_Bttm_Blk li {
margin:15px 0 0 0;
}
#Room_User #user_info_big #contactExpand #comment_success {
background:#C2E6B9 url(images/succes_icon.png) no-repeat scroll 5px 5px;
height:16px;
line-height:16px;
padding:5px 10px 5px 25px;
font-weight:bold;
-moz-border-radius: 15px;
-webkit-border-radius:15px;
-khtml-border-radius: 15px;
border-radius: 15px;
margin:10px 0 0 0;
display:none;
color:#000;
text-align:left;
}
#more_info1 span{

}
#more_info1  em {
    margin: 0;float:right;
	font-style: normal;}
#more_info1 span{
	
}	
.room_form {
    margin-bottom: 0;
}

#display_address {
    color: #A3B119;
}

#user_info_big a {
    color: #1D95CB;
}

.related_listing_right > a {
    color: #1D95CB;
}
.book_head1 {
	padding: 0px 0 20px;
}
.checkin.hasDatepicker {
	margin: 6px 5px 0 0;
}
.checkout.hasDatepicker {
	margin: 6px 5px 0 0;
}
.price_left{ 
	/*width:133px!important; */
	line-height:normal;
}
#calendar_table{
	width:100%;
}
.Sta_Bttm_Blk ul{
	font-size:20px;
	color:#999999;
	margin:0px;
}
.from_labl{
	font-size:24px;
	font-weight:bold;
	margin:0 !important;
	line-height:normal;
	color:rgb(98, 98, 98) !important;
}
#payment_period{
	font-size:19px;
	font-family: 'padaukregular';
	color:#b7b7b7;
    padding: 5px 10px 2px;
    border-radius: 10px;
    background: #FFFFFF url(images/dwn_arw.png) no-repeat 95% center;
    border:1px solid #e2e2e2;
    box-shadow:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
.strt_date{
	font-size:20px;
	font-family: 'padaukregular';
	color:#868686;
}
.bookit_btn{
	background:#a89c70;
	font-size:28px;
	font-weight:bold;
	font-family: 'padaukregular';
	text-transform:uppercase;
	color:#FFFFFF;
	padding:8px 5px 3px;
	border-radius:13px;
	border:none;
	line-height:normal;	
}
#description_details li label.property, #description_details li label.value{
	font-size:20px;
	color:#999999;
	margin-bottom:0px;
	line-height:30px;
}
#description_details li label.value, #description_details li label.value a{
	color:#333333;
}
.verify_hdng{
	background:#e1ddce;
	color:rgb(71, 70, 69);
	font-size:23px;
	padding:12px 20px;
}
.verify_dtails{
	padding:10px;
}
.verify_dtails li{
	background:url(images/brwn_tck.png) no-repeat left center;
	overflow:hidden;
	padding:5px 0px 5px 45px;
	background-size:25px;
}
.verify_dtails li label{
	line-height:normal;
	margin:0px;
}
.verify_dtails .verify_data{
color:#4D4D4D;
font-size:18px;	
min-height: 10px;
line-height:18px;
}
.verify_dtails .verify_status{
color:#aeaeae;
font-size:17px;	
min-height: 10px;
margin:0px;
}